# Raw and large sequencing files
data/raw/*
*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.bam
*.sam
*.cram

# R
.Rhistory
.RData
.Ruserdata
.Rproj.user/

# Python
.venv/
__pycache__/
*.pyc


# VS Code files
.vscode/
.DS_Store
Thumbs.db